# 忽略 macOS 系统生成的索引文件
.DS_Store
.Spotlight-V100
.Trashes

# 忽略 xcode相关文件
### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
### Xcode Patch ###
*.xcodeproj
**/Build/
*.xcuserstate
*.xcworkspace
!*.xcworkspace/xcshareddata/
*.xccheckout
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcscmblueprint

# CLion project files
.idea
cmake-build-*