# 忽略 macOS 系统生成的索引文件
.DS_Store
.Spotlight-V100
.Trashes

# 忽略 xcode相关文件
### Xcode Patch ###
*.xcodeproj
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/Build/
*.xcodeproj/*
*.xcuserstate
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
*.xccheckout
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcscmblueprint

# CLion project files
.idea
cmake-build-*
/leecode1323. Maximum 69 Number/leecode1323. Maximum 69 Number.xcodeproj
